@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #4D96A9;
  --light-blue: #8FE3F9;
  --active-blue: #71C0D4;
  --purple: #855FB1;
  --light-purple: #D9B8FF;
  --active-purple: #B18BDD;
  --white: #FAFAFA;
  --gray: #87879D;
  --black: #28283D;
  font-family: 'Red Hat Display';
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}
header img {
  margin-top: 5rem;
  margin-bottom: 3.925rem;
}

/* ~~~~~~~~~~~~~~ */
/*  HERO SECTION  */
/* ~~~~~~~~~~~~~~ */

.hero-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8.313rem;
}

.hero-section img {
  min-width: 394px;
  height: 303px;
}

.hero-left {
  float: left !important;
  position:relative;
  margin-left: -2.5% !important;
}

.hero-right {
  float: right;
  position: relative;
  margin-right: -2.0%;
  top: 50px;
}

.hero-text-wrapper {
  /* background-color: antiquewhite; */
  text-align: center;
  max-width: 539px;
  padding-top: 3rem;
}

h1 {
  font-size: 4rem;
  font-weight: 900;
  color: var(--black);
  text-align: center;
  /* background-color: pink; */
  max-width: 445px;
  margin-left: auto;
  margin-right: auto;
  line-height: 1;
}

.text {
  font-size: 1.125rem;
  line-height: 1.44;
  color: var(--gray);
  /* background-color: aquamarine; */
  margin: 2.125rem 2rem 3rem 2rem;
  /* margin-top: 2.125rem; */
}

.button {
  background-color: var(--blue);
  font-size: 1rem;
  padding: 1em 2.5em;
  border-radius: 1.813rem;
  text-decoration: none;
  font-weight: 900;
  color: white;
  cursor: pointer;
}
.button span {
  color: var(--light-blue);
  margin-left: 0.25rem;
}

.one:hover {
  background-color: var(--active-blue);
  transition-duration: 0.3s;
}
.two {
  padding-left: 1.813rem;
  padding-right: 1.813rem;
  margin-left: 1rem;
  background-color: var(--purple);
}
.two:hover {
  background-color: var(--active-purple);
  transition-duration: 0.3s;
}
.one, .two {
  margin-bottom: 1.438rem;
  margin-top: 3.438rem;
}


/* ~~~~~~~~~~~~~~~~~~~ */
/*  SECTION GRAPHIC 01 */
/* ~~~~~~~~~~~~~~~~~~~ */

.section-graphic {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.circle {
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
  width: 3.5rem;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 900;
  color: var(--gray);
  background-color: var(--white);
}
.line {
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 5.25rem;
}


/* ~~~~~~~~~~~~~ */
/*  MID SECTION  */
/* ~~~~~~~~~~~~~ */

.mid-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 4.5rem;
}
.img-wrapper {
  margin: 4rem 10.313rem 5rem 10.313rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.083vw;
}
.img-wrapper img {
  max-width: 255px;
  min-width: 164px;
}

.mid-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.62;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  color: var(--blue);
}

h2 {
  color: var(--black);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.1;
  max-width: 445px;
  text-align: center;
  margin-top: 1rem;
}

.mid-section .text {
  max-width: 540px;
  min-width: 327px;
  text-align: center;
  font-size: 1.125rem;
  line-height: 1.44;
  padding: 1rem;
  margin-bottom: 0;
}

/* ~~~~~~~~~~~~~~~~~~~ */
/*  SECTION GRAPHIC 01 */
/* ~~~~~~~~~~~~~~~~~~~ */

.mid {
  /* padding-bottom: -1.8rem; */
}


/* ~~~~~~~~~~~~~~~ */
/*  FOOTER SECTION */
/* ~~~~~~~~~~~~~~~ */

.footer-section {
  background-color: var(--blue);
  /* padding: 7.25rem 10.313rem 6.5rem 10.313rem; */
  position: absolute;
  bottom: 0;
}

.footer-text-wrapper {
  display: flex;
}